<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ffd.Presentation.LeadManager.Leadmanager" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ffd.Presentation.LeadManager.Leadmanager>
            <setting name="EmailTemplateNo" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="EmailSrcDir" serializeAs="String">
                <value>C:\FfdApplications\FanFriendlyDesigns\Ffd.Presentation.LeadManager\email</value>
            </setting>
            <setting name="DebuggingMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckEmailIntervalSecs" serializeAs="String">
                <value>10</value>
            </setting>
        </Ffd.Presentation.LeadManager.Leadmanager>
    </applicationSettings>
</configuration>